MQTT_HOST=mqttservername
MQTT_PORT=8883
MQTT_TLS=true

DJANGO_SECRET_KEY='**************************************************'
DJANGO_ALLOWED_HOSTS='*'
DJANGO_CSRF_TRUSTED_ORIGINS='https://server.domain.tld'
DJANGO_WHITELISTED_RANGES='192.168.0.0/24'
DJANGO_TIME_ZONE='Asia/Tokyo'

BRIDGE_TOPICS="aircon/status:2 aircon/update:2 aircon/control:2 aircon/client/#:2"
TAPP_TOPIC=aircon

MQTT_USERNAME1=acprocessor
MQTT_PASSWORD1=password1
MQTT_USERNAME2=acbridge
MQTT_PASSWORD2=password2
MQTT_USERNAME3=acdevice
MQTT_PASSWORD3=password3
MQTT_USERNAME4=acuser1
MQTT_PASSWORD4=password4

TLSGW_DOMAINS='server.domain.tld -> http://nginx:80'
TLSGW_STAGE='local'
TLSGW_REAL_IP_FROM='192.168.0.2'

BRIDGE_CLIENT_CRT=`cat << EOS
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
EOS
`

BRIDGE_CLIENT_KEY=`cat << EOS
-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----
EOS
`

MQTT_BROKER_CRT=`cat << EOS
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
EOS
`

MQTT_BROKER_KEY=`cat << EOS
-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----
EOS
`

MQTT_CACERT=`cat << EOS
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
EOS
`

TAPP_CLIENT_CRT=`cat << EOS
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
EOS
`

TAPP_CLIENT_KEY=`cat << EOS
-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----
EOS
`
