DOMAINS='server.domain.tld -> http://nginx:80'

# STAGE='production' # Don't use production until staging works

# If a reverse proxy is placed in front of the HTTPS-PORTAL
# and the proxy uses proxy protocol v2, specify the IP address of the
# proxy in REAL_IP_FROM to accept the remote IP provided by the proxy.

# REAL_IP_FROM='xxx.xxx.xxx.xxx'
