[broker]
host = hostname.domainname
port = 8883
tls = true
topics = aircon/status:2 aircon/update:2 
         aircon/control:2 aircon/client/#:2

[credentials]
username = accli03
password = xxxxxxxxxxx
cacert = /run/secrets/mqtt_cacert
certfile = /run/secrets/bridge_clientcert
keyfile = /run/secrets/bridge_clientkey
